body {
  overflow-x: hidden;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid #343434;
  box-sizing: border-box;
}

.carousel-indicators li.active {
  border: 4px solid white !important;
  background-color: #546130 !important;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev:hover {
  opacity: 0.7;
}

.carousel-control-next:hover {
  opacity: 0.7;
}

.carousel {
  position: relative;
}

.carousel-indicators {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(52, 52, 52, 0.75);
  margin: 0 !important;
}

.carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
  opacity: 1 !important;
  background-image: url("../assets//media/arrows/left-arrow.svg") !important;
}

.carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
  background-image: url("../assets//media/arrows/right-arrow.svg") !important;
}

.header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  z-index: 100000;
}

.header-column {
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  color: #546130;
  text-transform: uppercase;
}

.header-description {
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #2d3b09;
}

.header-arrow {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header-arrow:hover {
  opacity: 0.7;
}

.images-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  background-color: #454545;
}

.image-carousel {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  cursor: pointer;
}

.image-carousel-column {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  cursor: pointer;
}

.image-carousel-column.remove-margin {
  margin-left: 0 !important;
}

.image-row {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.image-carousel-card {
  width: 300px;
  height: 200px;
  border: 10px solid #707070;
}

.image-carousel-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-top: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.image-carousel-description {
  max-width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  line-height: 19px;
  margin-top: 20px;
}

.images-container .carousel:nth-child(2) {
  display: none;
}

.carousel-controls-row {
  display: flex;
  margin-top: 20px;
}

.carousel-controls-row .carousel-control-prev,
.carousel-controls-row .carousel-control-next {
  display: none;
  position: relative !important;
  width: 100px !important;
  height: 100px !important;
}

.circle-container {
  width: 100%;
  min-height: 500px;
  background-color: #6f6f6f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.circle-row {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #343434;
}

.circle-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle-column {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px;
}

.circle-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  line-height: 43px;
  text-transform: uppercase;
}

.circle-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 19px;
}

.circle-container.mobile {
  display: none;
}

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bebebe;
  min-height: 750px;
  box-sizing: border-box;
  padding: 20px;
}

.accordion-button {
  background: #6f6f6f !important;
  width: 90vw;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white !important;
  box-shadow: none !important;
  outline: 0 !important;
  border: none !important;
  margin-top: 1px;
}

.accordion-body {
  background-color: white;
}

.accordion-container-content {
  width: 100%;
  height: 100%;
  background: white !important;
  display: flex;
  align-items: center;
}

.accordion-container-card {
  width: 300px;
  height: 200px;
  border: 10px solid #707070;
}

.accordion-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-container-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6f6f6f !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg) !important;
  background-image: url(../assets/media/arrows/expand-up.svg) !important;
}

.accordion-button.collapsed::after {
  background-image: url(../assets/media/arrows/expand-down.svg) !important;
}

.accordion-collapse {
  width: 90vw;
  box-sizing: border-box;
}

.form-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #6f6f6f;
  z-index: 0;
}

.form-rectangle {
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.form-column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000 !important;
  padding-top: 10px;
}

.form-row {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fw {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-hw {
  width: 42.5vw;
}

.form-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #bebebe;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  border-radius: 10px;
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  color: #333333;
  z-index: 100;
  cursor: pointer;
}

.form-input::placeholder {
  color: #333333;
}

.form-textarea {
  resize: none;
  border: none;
  outline: none;
  width: 90vw;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  color: #333333;
  background-color: #bebebe;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  border-radius: 10px;
  cursor: pointer;
}

.form-textarea::placeholder {
  color: #333333;
}

.form-btn {
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  pointer-events: all;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, opacity 0.2s;
  margin-top: 10px;
  align-self: center;
  text-transform: uppercase;
  cursor: pointer;
}

.form-btn:hover {
  opacity: 0.7;
}

.disabled {
  pointer-events: none !important;
  background-color: #888 !important;
  color: #999 !important;
  pointer-events: none !important;
}

.footer-container {
  height: 90px;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #707070;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .circle-container.mobile {
    display: flex;
  }

  .circle-container:not(.mobile) {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .accordion-container-description {
    margin-left: 20px;
  }
}

@media (max-width: 800px) {
  .images-container .carousel:nth-child(1) {
    display: none;
  }

  .images-container .carousel:nth-child(2) {
    display: block !important;
  }

  .carousel-controls-row .carousel-control-prev,
  .carousel-controls-row .carousel-control-next {
    display: block;
  }
}

@media (max-width: 600px) {
  .header-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-column::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #454545;
    z-index: -1;
  }

  .header-title {
    font-size: 30px;
    color: #fefefe;
    line-height: 36px;
  }

  .header-description {
    font-size: 16px;
    color: white;
    line-height: 19px;
  }

  .header-arrow {
    margin-top: 40px;
  }

  .accordion-container {
    height: initial !important;
    min-height: 0;
  }

  .accordion-container-card {
    margin-top: 10px;
  }

  .accordion-container-row {
    flex-direction: column;
  }

  .accordion-container-description {
    margin-top: 10px;
  }

  .form-hw {
    width: 90vw;
  }
}
